.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
    height: 40px;
    font-size: 30px;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
    height: 40px;
    font-size: 30px;
  }
}